{% for item in content %}
  <div>
    {% if item.title is not empty %}
      {{item.title}}
    {% endif %}
    {% if item.paragraphId is not empty %}
      {{ item.paragraphId }}
    {% endif %}
  </div>
{% endfor %}
